/* Variables */

$color-main: #002D69;
$color-dark: #000000;
$color-light: #C2C2C2;
$color-white: #fff;
$font-main: Arial, sans-serif;
$transition: all 1s;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $color-dark;
  background-color: $color-light;
  margin: 0;
  padding: 0;
  font-family: $font-main;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: $color-white;
  min-height: 500px;
}

.section-title {
  margin: 0; 
}

/* Nav */

.navigation {
  padding: 0;
  margin: 0;
  background-color: $color-main;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  position: absolute;
  top: 18px;
}

.navigation li {
  display: inline-block;
  padding: 0 10px;
}

.navigation li a {
  text-decoration: none;
  color: $color-white;
  transition: $transition;
}

.navigation li a:hover {
  text-decoration: underline;
}

.navigation .logo {
  position: absolute;
  display: inline-block;
  right: 0;
}

.navigation img {
  height: 50px;
  width: auto;
}

/* Splash */

.splash {
  background-image: url('https://i.postimg.cc/gc4Qn64s/pexels-egor-kamelev-920161.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  min-height: 600px;
  color: $color-white;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
  top: 50%;
}

.page-title {
  font-size: 72px;
  text-transform: uppercase;
}