/* Variables */

$color-main: #002D69;
$color-dark: #000000;
$color-light: #C2C2C2;
$color-white: #fff;
$font-main: 'Cabin', Sans-Serif;
$font-head: 'Roboto Condensed', Sans-Serif;
$transition: all 1s;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $color-dark;
  background-color: $color-light;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-size: 18px;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: $color-white;
  min-height: 500px;
}

.row {
  margin: 0 100px;
  padding: 10px 50px;
}

.section-title {
  margin: 0;
  padding: 80px 10px 50px;
  font-family: $font-head;
  font-size: 40px;
  text-align: center;
}

.section-title:after {
  content: '';
  display: block;
  background-color: $color-main;
  margin: 15px auto;
  width: 120px;
  height: 12px;
}

/* Nav */

.navigation {
  padding: 0;
  margin: 0;
  background-color: $color-main;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 3;
  color: $color-white;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  position: absolute;
  top: 27px;
}

.navigation li {
  display: inline-block;
  padding: 0 10px;
}

.navigation a {
  text-decoration: none;
  color: $color-white;
  transition: $transition;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation .logo {
  position: absolute;
  display: inline-block;
  right: 0;
}

.navigation img {
  margin: 5px 5px;
  height: 60px;
  width: auto;
}

.navigation .lang {
  margin: 0;
  position: absolute;
  display: inline-block;
  top: 27px;
  right: 150px;
}

/* Splash */

.splash {
  background-image: url('../images/heliopora1.JPG');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  min-height: 700px;
  color: $color-white;
  text-shadow: 2px 2px 3px rgb(25, 43, 27);
}

.splash-inner {
  margin: auto;
  max-width: 1140px;
  top: 50%;
  text-align: center;
}

.page-title {
  font-size: 72px;
  text-transform: uppercase;
  font-family: $font-head;
  margin-top: 20px;
}

.page-subtitle {
  font-size: 27px;
  font-family: $font-head;
  padding: 0 70px;
}

.splash img {
  max-width: 130px;
  background-color: $color-main;
  margin: 30px auto;
  padding: 15px;
  border-radius: 50%;
}

/* Team */

.team ul {
  list-style-type: none;
}

.team li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 10px auto;
}

.team img {
  border-radius: 50%;
  height: 180px;
  display: block;
  margin: 10px;
}

.team .person {
  padding: 15px;
}

.person h3 {
  font-size: 25px;
  margin: 0;
}

.person h3:after {
  content: '';
  display: block;
  background-color: $color-main;
  margin: 5px 0;
  width: 70px;
  height: 5px;
}

.team a {
  color: $color-dark;
  text-decoration: none;
}

.team a:visited {
  color: $color-dark;
  text-decoration: none;
}

/* Description*/

.description p{
  text-align: justify;
}

.description img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.description .small {
  font-size: 12px;
  margin-bottom: 40px;
}

/* Goals and summary*/

.goals li,
.summary li 
{
  padding: 10px;
}

.goals ul,
.summary ul 
{
  margin-bottom: 50px;
}

.goals li::marker,
.summary li::marker
{
  color: $color-main;
  font-size: 30px;
}

/* Area */

.area .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-area {
  flex: auto;
  min-width: 100px;
  min-height: 500px;
  background-position: center center;
  background-size: cover;
  opacity: 0.7;
  transition: $transition;
  position: relative;
}

.img-area .area-title {
  display: block;
  text-align: center;
  width: 100px;
  background-color: $color-main;
  color: $color-white;
}

.img-area .hide {
  opacity: 0;
  transition: $transition;
}

.area-text {
  display: block;
  color: $color-white;
  max-width: 200px;
  font-size: 15px;
  background-color: $color-main;
  margin: 0;
  position: absolute;
  padding: 5px;
  bottom: 10%;
  left: 25%;
  box-shadow: 5px 5px 10px $color-dark;
}

.img-area:hover {
  flex-grow: 3;
  opacity: 1;
}

.img-area:hover > .hide {
  opacity: 1;
}

.img1 {
  background-image: url('../images/Gotlandia1.JPG');
}

.img2 {
  background-image: url('../images/Belgia.JPG');
}

.img3 {
  background-image: url('../images/Dziewki.JPG');
}

/* Publications */

.publications .authors, .date {
  display: inline-block;
}

.publications .date {
  color: $color-light;
}

.publications .date:after {
  content: '';
  display: inline-block;
  background-color: $color-main;
  margin: 0 7px;
  width: 4px;
  height: 15px;
}

.publications article:after {
  content: '';
  display: block;
  background-color: $color-main;
  margin: 50px auto;
  width: 300px;
  height: 5px;
}

.publications article:last-child::after {
  display: none;
}

.publications .article-description {
  text-align: justify;
}

.publications .biblio {
  color: $color-light;
}

.publications .biblio a {
  color: $color-light;
}

/* Presentations */

.conference {
  text-align: center;
}

.conference h3 {
  margin: 50px auto 10px;
}

.conference video {
  margin: 10px;
}

.conference a {
  color: $color-light;
}

/* Footer */

footer {
  background-color: $color-main;
  color: $color-white;
  margin: 0;
  padding: 5px;
  font-size: 13px;
}

footer a {
  color: $color-white;
  text-decoration: underline;
}

.footer-inner {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.col3 {
  flex: 3;
  padding: 0 15px;
}

.col2 {
  flex: 2;
  padding: 0 15px;
}

.col1 {
  flex: 1;
  padding: 0 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  padding-bottom: 5px;
}

.footer-bottom {
  text-align: center;
  margin: 0 auto 5px auto;
  width: 100%;
}

footer span {
  font-weight: 700;
}